.color-bg-black {
	color: white;
	background-color: #230C0F;
}

.color-bg-lblue {
	color: black;
	background-color: #78C0E0;
}

.color-bg-blue {
	color: black;
	background-color: #8BD9F8;
}

.color-bg-blue {
	color: black;
	background-color: #CEE4ED;
}

.color-bg-dblue {
	color: white;
	background-color: #192BC2;
}

.color-bg-dgreen {
	color: white;
	background-color: #4E6E58;
}

